.main-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1259px;
}
.info__header{
    width: 100%;
    margin-bottom: 25px;
}
.info__sidebar{
    border: 1px solid black;

    padding: 30px 32px;

    background-color: #FCFFE7;

    height: auto;
    width: 32%;
}
.info__content{
    border: 1px solid black;

    padding: 30px 32px;
    
    height: auto;
    width: 66%;
}
.info__advantages{
    list-style-type: disc;
    padding-left: 30px;
}